@font-face {
    font-family: 'Dense-Regular';
    src: url('~/dist/font/Dense-Regular.eot');
    src: url('~/dist/font/Dense-Regular.eot?#iefix') format('embedded-opentype'),
         url('~/dist/font/Dense-Regular.ttf') format('truetype'),
         url('~/dist/font/Dense-Regular.woff') format('woff'),
         url('~/dist/font/Dense-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

@import url("https://use.typekit.net/qlt0mek.css");

  

// See https://github.com/twbs/rfs