#home {
	position: relative;
	width: 100%;
    // background-color: aqua;
    max-width: 1900px;
    margin: 0px auto;
    // min-height: 100vh;

  
    &:after {
        content: '';
        display: block;
        clear: both;
    }
        
}


