@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin box-sizing{
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}


@mixin border-radius($radius) {
-webkit-border-radius: $radius;
   -moz-border-radius: $radius;
    -ms-border-radius: $radius;
        border-radius: $radius;
}

// .box{
//   @include border-radius(3px);
// }


@mixin user-select{
-webkit-touch-callout: none; 
-webkit-user-select: none;
-khtml-user-select: none; 
-moz-user-select: none; 
-ms-user-select: none; 
user-select: none; 
}
// @include user-select();



/* Opciones($prop): color, background-color,opacity,..., all */
@mixin transition($prop) {
-webkit-transition: $prop; 
 -moz-transition: $prop; 
   -o-transition: $prop; 
      transition: $prop; /* ease-out */

-webkit-transition-timing-function: ease-out; 
 -moz-transition-timing-function: ease-out; 
   -o-transition-timing-function: ease-out; 
      transition-timing-function: ease-out; /* ease-out */
}

/*PlaceHolder*/

@mixin placeHolder($color,$lineHeightDesk,$lineHeightTab) {
&::-webkit-input-placeholder { 
  opacity: 1; 
  color: $color; 
  line-height: $lineHeightDesk;
  @media #{$information-tablet} {
      line-height: $lineHeightTab;
  }                            
}
&::-ms-input-placeholder { 
  opacity: 1; 
  color: $color; 
  line-height: $lineHeightDesk;
  @media #{$information-tablet} {
      line-height: $lineHeightTab;
  }                            
}
&::placeholder { 
  opacity: 1; 
  color: $color; 
  line-height: $lineHeightDesk;
  @media #{$information-tablet} {
      line-height: $lineHeightTab;
  }                            
}  
}

// Overflow Ellipsis
@mixin ellipsis() {
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}                      

@mixin user-select{
-webkit-touch-callout: none; 
-webkit-user-select: none;
-khtml-user-select: none; 
-moz-user-select: none; 
-ms-user-select: none; 
user-select: none; 
}



