$information-phone-small: "only screen and (max-width : 320px)";
$information-phone: "only screen and (max-width : 525px)";
$information-tablet: "only screen and (max-width : 767px)";
$information-desktop-small: "only screen and (max-width: 900px)";
$information-desktop: "only screen and (max-width: 1024px)";
$information-desktop-medium: "only screen and (max-width: 1200px)";
$information-desktop-big: "only screen and (max-width: 1300px)";


$information-customModalTablet: "only screen and (max-width: 918px)";
$information-customModalPhone: "only screen and (max-width: 677px)";


$information-logoEventos: "only screen and (max-width: 600px)";





  
// font-family: ;
// font-weight: 400;
// font-style: normal;


// font-family: ;
// font-weight: 400;
// font-style: normal;


/*Font Family*/
$font-site: 'trade-gothic-next', sans-serif;
$font-site-compressed: 'trade-gothic-next-compressed', sans-serif;
$font-nombre: 'Dense-Regular';

$a-tags: 'a, a:active, a:hover, a:visited';
$a-tags-hover: 'a:active, a:hover';